<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<p>梅花香自苦寒来!</p>
<table>
    <tr>
        <td><a href="/list">list</a></td>
    </tr>
</table>
<h1>玩转spring boot——国际化</h1>
<h4>
    <a href="http://www.cnblogs.com/GoodHelper/">from 刘冬的博客</a>
</h4>
<br/>
<br/>
<a href="/?lang=en_US">English(US)</a>
<a href="/?lang=zh_CN">简体中文</a>
<br/>

<h3 th:text="#{hello}"></h3>
<br/>
<br/>
<a href="http://www.cnblogs.com/GoodHelper/">点击访问原版博客(www.cnblogs.com/GoodHelper)</a>
</body>
</html>