<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="0">
    <thead>
    <tr>
        <td>id</td>
        <td>用户名</td>
        <td>年龄</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text=${user.id}></td>
        <td th:text=${user.userName}></td>
        <td th:text=${user.age}></td>
        <td th:text=${message}></td>

    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="3" th:text="#{demo.test.proper}"></td>
    </tr>
    </tfoot>
</table>
</body>
</html>